<h1>Repatowa</h1>
<p>「ヒトカラに行っても曲選びに迷ってしまい時間がもったいない」そんな悩みはありませんか？</p>
<p>Repatowaは、レパートリーの中から、セットリストを自動で選曲してくれるアプリです。</p>
<p>曲を選ぶ手間が省けるので利用時間内にたくさん歌いたい方におすすめです。</p>
<p>もちろんセットリストに追加する曲を自分で選ぶことも可能です。</p>
